body{ 
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.animation-box{
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pulse{
    width: 100px;
    height: 100px;
    background-color: #ff4757;
    border-radius: 50%;
    animation: pulso 2s infinite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.pulse span{
    user-select: none;
}

@keyframes pulso{
    0% {
        transform: scale(0.95);
        color: green;
    }

    25% {
        color: yellow;
    }

    50% {
        transform: scale(1.1);
        color: purple;
    }

    75% {

        color: red;
    }

    100%{
        transform: scale(0.95);
        color: green;
    }
}