/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #ace510
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #d71010;
}

/* Tabela */
.tabela {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #030202;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Formulário */
.formulario {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0c160c;
}

/* Seção de Informações */
.informacoes p {
    font-size: 1.2em;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
